body {
    margin: 0;
    padding: 20px;
}
button {
    padding: 10px;
    background-color: green;
    border: 3px solid yellow;
    font-size: 16px;
}

button:hover {
    background-color: greenyellow;
}

#movimientos {
    margin-top: 20px;
}

